@using (Html.BeginForm())
{


    <div class="form-horizontal">

        <div class="form-group">
            <label for="LectureId" class="control-label col-md-3">Mail </label>

            <div class="">
                @Html.TextBox("Mail", null, new { @class = "form-control", type = "mail" })
            </div>


        </div>
        <div class="form-group">
            <label for="LectureId" class="control-label col-md-3">Parola </label>

            <div class="">
                @Html.TextBox("Password", null, new { @class = "form-control", type = "password" })
            </div>


        </div>


        <div class="form-group">
            <div class="">
                <button type="submit" class="btn btn-primary">Giriş Yap</button>
            </div>


        </div>



    </div>

}