@model List<WebApplication5.Models.Lecture>
@{
    ViewBag.Title = "Derslerim";
}

<h2>Derslerim</h2>


<div class="row">



    @foreach (var item in Model)
    {

        <div class="col-sm-4 mt-5">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="~/Content/kapak.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <p class="card-text">@item.Info</p>
                    <a href="Info/?lectureId=@item.LecutureId" class="btn btn-primary">Sınıfa Git</a>
                </div>
            </div>
        </div>



    }
    <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="~/Content/kapak.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text">Yeni bir sınıf oluşturun</p>
                <a href="https://localhost:44341/Lecture/CreateLecture" class="btn btn-primary">Yeni Bir Sınıf Ekle</a>
            </div>
        </div>
    </div>


</div>
