@model List<WebApplication5.Models.ExpectationEvaluate>

<h2>Evaluate</h2>

@ViewBag.Deneme
<table>
    <tr>
        <th>Öğrencinin Idsi</th>
        @foreach (var item in Model)
        {
            <th>@item.StudentId</th>
            <th>@item.Expectation.ExpectedType</th>
        }
    </tr>
    <tr>
        @foreach (var item in Model)
        {
            <td>
                < @item.Expectation.Factor
            </td>

        }
    </tr>
</table>
