
@{
    ViewBag.Title = "TakeDelivery";
}

<h2>TakeDelivery</h2>




@using (Html.BeginForm("JoinTheClass", "Lecture", FormMethod.Post))
{
<form method="post">


    <a href="https://localhost:44341/Assignment/Deneme/?token=@ViewBag.token&assgname=@ViewBag.assgnName&username=@ViewBag.userName&clsıd=@ViewBag.clsId">GitHub Reposu oluştur...</a>

</form>
}


