
@{
    ViewBag.Title = "Etkinlestir";
}

<h2>Etkinlestir</h2>



<div class="col-md-4">
    <h2>GitHub Hesabımı Etkinleştir</h2>
    <p>
        GitHub Hesabınızı Etkinleştirmek için linke tıklayınız. 
    </p>
    <p><a class="btn btn-default" href="https://github.com/login/oauth/authorize?client_id=3c32ff0b36a3be983b3e&scope=user%20repo%20admin:repo_hook%20admin:org%20admin:public_key%20notifications%20delete_repo%20workflow%20codespace%20admin:gpg_key">Etkinleştir. &raquo;</a></p>
</div>
